<a href="https://colab.research.google.com/github/yosshy2020/intro_git/blob/master/biginners_cnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

train = pd.read_csv('/content/drive/MyDrive/biginners/train.csv')
test = pd.read_csv('/content/drive/MyDrive/biginners/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/biginners/sample_submit.csv')
print('train.shape:', train.shape)
print('test.shape:', test.shape)

train.shape: (11900, 13)
test.shape: (5100, 12)

In [91]:
train

       index  age workclass  fnlwgt  ...   race     sex native-country  Y
0        322   21   Private  132652  ...  White  Female  United-States  0
1      11968   29   Private  132652  ...  White  Female  United-States  0
2      10868   19   Private  132652  ...  White  Female  United-States  0
3       3394   17   Private  132652  ...  White    Male  United-States  0
4      15993   47   Private  132652  ...  White    Male  United-States  0
...      ...  ...       ...     ...  ...    ...     ...            ... ..
11895   9225   23   Private  132652  ...  White  Female  United-States  0
11896  13123   31   Private  132652  ...  Black  Female  United-States  0
11897   9845   21   Private  132652  ...  White    Male  United-States  0
11898  10799   29   Private  132652  ...  White    Male  United-States  0
11899   2732   17   Private  132652  ...  White    Male  United-States  1

[11900 rows x 13 columns]

In [92]:
test

      index  age  workclass  ...   race     sex  native-country
0      3873   17  Local-gov  ...  White    Male   United-States
1      3625   23    Private  ...  White    Male   United-States
2      3028   19    Private  ...  White  Female   United-States
3     13814   30  State-gov  ...  Black  Female   United-States
4     15398   60    Private  ...  White    Male   United-States
...     ...  ...        ...  ...    ...     ...             ...
5095   6726   19    Private  ...  White  Female   United-States
5096   1501   23    Private  ...  White    Male   United-States
5097   6391   36    Private  ...  White    Male   United-States
5098   7104   33    Private  ...  White    Male   United-States
5099   4214   36  Local-gov  ...  White    Male   United-States

[5100 rows x 12 columns]

In [93]:
submission

       3873  0
0      3625  0
1      3028  0
2     13814  0
3     15398  0
4     13244  0
...     ... ..
5094   6726  0
5095   1501  0
5096   6391  0
5097   7104  0
5098   4214  0

[5099 rows x 2 columns]

In [94]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11900 entries, 0 to 11899
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           11900 non-null  int64
 1   age             11900 non-null  int64
 2   workclass       11900 non-null  object
 3   fnlwgt          11900 non-null  int64
 4   education       11900 non-null  object
 5   education-num   11900 non-null  int64
 6   marital-status  11900 non-null  object
 7   occupation      11900 non-null  object
 8   relationship    11900 non-null  object
 9   race            11900 non-null  object
 10  sex             11900 non-null  object
 11  native-country  11900 non-null  object
 12  Y               11900 non-null  int64
dtypes: int64(5), object(8)
memory usage: 1.2+ MB

In [95]:
all_data = pd.concat((train.loc[:,'age':'native-country'],
                      test.loc[:,'age':'native-country']))

print(all_data.shape)
print(all_data)

(17000, 11)
      age  workclass  fnlwgt  ...   race     sex native-country
0      21    Private  132652  ...  White  Female  United-States
1      29    Private  132652  ...  White  Female  United-States
2      19    Private  132652  ...  White  Female  United-States
3      17    Private  132652  ...  White    Male  United-States
4      47    Private  132652  ...  White    Male  United-States
...   ...        ...     ...  ...    ...     ...            ...
5095   19    Private  132652  ...  White  Female  United-States
5096   23    Private  132652  ...  White    Male  United-States
5097   36    Private  132652  ...  White    Male  United-States
5098   33    Private  132652  ...  White    Male  United-States
5099   36  Local-gov  132652  ...  White    Male  United-States

[17000 rows x 11 columns]

In [96]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.0.0)

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
all_data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'native-country'],
      dtype='object')

In [99]:
categories = all_data.columns[all_data.dtypes == 'object']
categories

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country'],
      dtype='object')

In [100]:
le = LabelEncoder()

for cat in categories:
  le = LabelEncoder()
  print(cat)
  if all_data[cat].dtypes == "object":
    le = le.fit(all_data[cat])
    all_data[cat] = le.transform(all_data[cat])

workclass
education
marital-status
occupation
relationship
race
sex
native-country

In [101]:
all_data.head()

   age  workclass  fnlwgt  education  ...  relationship  race  sex  native-country
0   21          3  132652         13  ...             3     2    0               2
1   29          3  132652         10  ...             1     2    0               2
2   19          3  132652          9  ...             1     2    0               2
3   17          3  132652         10  ...             3     2    1               2
4   47          3  132652         13  ...             0     2    1               2

[5 rows x 11 columns]

In [102]:
train.shape[0]

11900

In [103]:
all_data[:train.shape[0]]

       age  workclass  fnlwgt  ...  race  sex  native-country
0       21          3  132652  ...     2    0               2
1       29          3  132652  ...     2    0               2
2       19          3  132652  ...     2    0               2
3       17          3  132652  ...     2    1               2
4       47          3  132652  ...     2    1               2
...    ...        ...     ...  ...   ...  ...             ...
11895   23          3  132652  ...     2    0               2
11896   31          3  132652  ...     1    0               2
11897   21          3  132652  ...     2    1               2
11898   29          3  132652  ...     2    1               2
11899   17          3  132652  ...     2    1               2

[11900 rows x 11 columns]

In [104]:
all_data[train.shape[0]:]

      age  workclass  fnlwgt  ...  race  sex  native-country
0      17          2  132652  ...     2    1               2
1      23          3  132652  ...     2    1               2
2      19          3  132652  ...     2    0               2
3      30          6  132652  ...     1    0               2
4      60          3  132652  ...     2    1               2
...   ...        ...     ...  ...   ...  ...             ...
5095   19          3  132652  ...     2    0               2
5096   23          3  132652  ...     2    1               2
5097   36          3  132652  ...     2    1               2
5098   33          3  132652  ...     2    1               2
5099   36          2  132652  ...     2    1               2

[5100 rows x 11 columns]

In [105]:
train.Y

0        0
1        0
2        0
3        0
4        0
        ..
11895    0
11896    0
11897    0
11898    0
11899    1
Name: Y, Length: 11900, dtype: int64

In [106]:
train_X = all_data[:train.shape[0]]
test_X = all_data[train.shape[0]:]
train_Y= train.Y

In [107]:
train_X

       age  workclass  fnlwgt  ...  race  sex  native-country
0       21          3  132652  ...     2    0               2
1       29          3  132652  ...     2    0               2
2       19          3  132652  ...     2    0               2
3       17          3  132652  ...     2    1               2
4       47          3  132652  ...     2    1               2
...    ...        ...     ...  ...   ...  ...             ...
11895   23          3  132652  ...     2    0               2
11896   31          3  132652  ...     1    0               2
11897   21          3  132652  ...     2    1               2
11898   29          3  132652  ...     2    1               2
11899   17          3  132652  ...     2    1               2

[11900 rows x 11 columns]

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from keras.layers import Dense, Dropout,Activation
from keras.models import Sequential
from sklearn.metrics import log_loss
from sklearn.preprocessing import StandardScaler

In [109]:
from sklearn.metrics import accuracy_score

In [110]:
kf = KFold(n_splits=4, shuffle= True, random_state=123)
tr_idx, va_idx = list(kf.split(train_X))[0]

In [111]:
tr_x, va_x = train_X.iloc[tr_idx], train_X.iloc[va_idx]
tr_y, va_y = train_Y.iloc[tr_idx], train_Y.iloc[va_idx]

In [112]:
scaler = StandardScaler()
tr_x = scaler.fit_transform(tr_x)
va_x= scaler.transform(va_x)
test_X = scaler.transform(test_X)

In [113]:


model = Sequential()
model.add(Dense( 11, activation='relu', input_shape=(train_X.shape[1],)))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_24 (Dense)             (None, 11)                132
_________________________________________________________________
dense_25 (Dense)             (None, 128)               1536
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_26 (Dense)             (None, 128)               16512
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 129
=================================================================
Total params: 18,309
Trainable params: 18,309
Non-trainable params: 0
_________________________________________________________________

In [114]:
result = model.fit(tr_x, tr_y,
                   epochs=10,
                   batch_size=100,
                   validation_data=(va_x, va_y),
                   verbose=1)

Epoch 1/10
90/90 [==============================] - 1s 5ms/step - loss: 0.1803 - accuracy: 0.7411 - val_loss: 0.1432 - val_accuracy: 0.7909
Epoch 2/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1410 - accuracy: 0.7991 - val_loss: 0.1290 - val_accuracy: 0.8128
Epoch 3/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1266 - accuracy: 0.8210 - val_loss: 0.1249 - val_accuracy: 0.8198
Epoch 4/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1259 - accuracy: 0.8220 - val_loss: 0.1220 - val_accuracy: 0.8242
Epoch 5/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1197 - accuracy: 0.8278 - val_loss: 0.1207 - val_accuracy: 0.8269
Epoch 6/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1218 - accuracy: 0.8224 - val_loss: 0.1195 - val_accuracy: 0.8255
Epoch 7/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1201 - accuracy: 0.8249 - val_loss: 0.1207 - val_accuracy: 0.8232
Epoch 8/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1177 - accuracy: 0.8283 - val_loss: 0.1186 - val_accuracy: 0.8282
Epoch 9/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1165 - accuracy: 0.8321 - val_loss: 0.1181 - val_accuracy: 0.8259
Epoch 10/10
90/90 [==============================] - 0s 3ms/step - loss: 0.1195 - accuracy: 0.8284 - val_loss: 0.1186 - val_accuracy: 0.8272

In [115]:
result = model.predict(test_X)

In [116]:
result

array([[0.5897277 ],
       [0.33923495],
       [0.00082108],
       ...,
       [0.11270383],
       [0.03392825],
       [0.66807514]], dtype=float32)

In [117]:
preds_cnn = (result > 0.5).astype(int)

In [118]:
preds_cnn

array([[1],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [119]:
test["index"]

0        3873
1        3625
2        3028
3       13814
4       15398
        ...
5095     6726
5096     1501
5097     6391
5098     7104
5099     4214
Name: index, Length: 5100, dtype: int64

In [122]:
submission

       3873  0
0      3625  0
1      3028  0
2     13814  0
3     15398  0
4     13244  0
...     ... ..
5094   6726  0
5095   1501  0
5096   6391  0
5097   7104  0
5098   4214  0

[5099 rows x 2 columns]

In [120]:
soutioncn=pd.DataFrame(preds_cnn, columns = ["submission"])

In [121]:
solutioncn = pd.DataFrame({"index":test["index"], "Y":preds_cnn})

Exception: ignored

In [ ]:
soutioncn

In [ ]:
categories

In [ ]:
for col in categories:
  train_X[col] = train_X[col].astype("int8")
  test_X[col]  = test_X[col].astype("int8")

In [ ]:
# X_train, X_valid, y_train, y_valid = train_test_split(train_X, train_Y, test_size=0.2,random_state=1234,shuffle=False, stratify=None)

In [ ]:
folds = 5
kf = KFold(n_splits=folds)

In [ ]:
# categories = ['workclass', 'education', 'marital-status', 'occupation',
      #  'relationship', 'race', 'sex', 'native-country']

In [ ]:
# def objective(trial):
#   xgb_params = {
#     "learning_rate":0.05,
#     "seed":1234,
#     "max_depth":trial.suggest_int("max_depth",3,16),
#     "colsample_bytree":trial.suggest_uniform("colsample_bytree",0.2,0.9),
#     "sublsample":trial.suggest_uniform("sublsample", 0.2,0.9),
#     }

#   xgb_train = xgb.DMatrix(X_train,  label=y_train)
#   xgb_eval = xgb.DMatrix(X_valid,  label=y_valid)
#   evals = [(xgb_train, "train"), (xgb_eval, "eval")]

#   model_xgb = xgb.train(xgb_params, xgb_train,
#                         evals=evals,
#                         num_boost_round=1000,
#                         early_stopping_rounds=50,
#                         verbose_eval=10,)

#   y_pred = model_xgb.predict(xgb_eval)
#   score = accuracy_score(y_valid, np.round(y_pred))
#   return score

In [ ]:
# study = optuna.create_study(sampler=optuna.samplers.RandomSampler(seed=0))
# study.optimize(objective, n_trials=50)
# study.best_params

In [ ]:
# lgbm_params = {
#      "objective":"regression",
#      "rondom_seed":1234,
#       "max_bin":71,
#       "num_leaves":54,
#       "min_data_in_leaf":6,
#       "random_seed":1234,
#       "learning_rate":0.05,
#       "n_estimators":1000,
#       "bagging_fraction":0.5487673032722362,
#       "bagging_freq":9,
#       "feature_fraction":0.8818313802505147,
#       "min_sum_hessian_in_leaf":2,
#       }

In [ ]:
xgb_params = {
    "learning_rate":0.05,
    "seed":1234,
    "max_depth":7,
    "colsample_bytree":0.6244752498895471,
    "sublsample":0.21343523881653348,
    }

In [ ]:
models_xgb = [ ]
rmses_xgb = [ ]
oof_xgb = np.zeros(len(train_X))

for train_index, val_index in kf.split(train_X):
  X_train = train_X.iloc[train_index]
  X_valid = train_X.iloc[val_index]
  y_train = train_Y.iloc[train_index]
  y_valid = train_Y.iloc[val_index]

  xgb_train = xgb.DMatrix(X_train, label=y_train)
  xgb_eval = xgb.DMatrix(X_valid, label=y_valid)
  evals = [(xgb_train, "train"), (xgb_eval, "eval")]

  model_xgb = xgb.train(xgb_params,
                        xgb_train,
                        evals=evals,
                        num_boost_round=1000,
                        early_stopping_rounds=50,
                        verbose_eval=20,)

  y_pred = model_xgb.predict(xgb_eval)
  print(accuracy_score(y_valid, np.round(y_pred)))

  models_xgb.append(model_xgb)
  oof_xgb[val_index] = y_pred

In [ ]:
models_xgb

In [ ]:
xgb_test = xgb.DMatrix(test_X)

In [ ]:
xgb_test

In [ ]:
preds_xgb = [ ]
for model in models_xgb:
  pred = model.predict(xgb_test)
  preds_xgb.append(pred)

In [ ]:
preds_array_xgb = np.array(preds_xgb)
preds_mean_xgb = np.mean(preds_array_xgb, axis=0)

In [ ]:
preds_mean_xgb

In [ ]:
preds_int = (preds_mean_xgb > 0.5).astype(int)

In [ ]:
preds_int

In [ ]:
submission

In [ ]:
test["index"]

In [ ]:
soution=pd.DataFrame(preds_int, columns = ["submission"])

In [ ]:
solution = pd.DataFrame({"index":test["index"], "Y":preds_int})

In [ ]:
solution

In [ ]:
solution["Y"].value_counts()

In [ ]:
# solution.to_csv('./submit3.csv', index=False,header=False)