<a href="https://colab.research.google.com/github/yosshy2020/intro_git/blob/master/Untitled129.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import scipy.optimize as optimize
from scipy.stats import skew
%matplotlib inline

train = pd.read_csv('/content/drive/MyDrive/biginners/train.csv')
test = pd.read_csv('/content/drive/MyDrive/biginners/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/biginners/sample_submit.csv')
print('train.shape:', train.shape)
print('test.df.shape:', test.shape)

train.shape: (11900, 13)
test.df.shape: (5100, 12)

In [3]:
train

       index  age workclass  fnlwgt  ...   race     sex native-country  Y
0        322   21   Private  132652  ...  White  Female  United-States  0
1      11968   29   Private  132652  ...  White  Female  United-States  0
2      10868   19   Private  132652  ...  White  Female  United-States  0
3       3394   17   Private  132652  ...  White    Male  United-States  0
4      15993   47   Private  132652  ...  White    Male  United-States  0
...      ...  ...       ...     ...  ...    ...     ...            ... ..
11895   9225   23   Private  132652  ...  White  Female  United-States  0
11896  13123   31   Private  132652  ...  Black  Female  United-States  0
11897   9845   21   Private  132652  ...  White    Male  United-States  0
11898  10799   29   Private  132652  ...  White    Male  United-States  0
11899   2732   17   Private  132652  ...  White    Male  United-States  1

[11900 rows x 13 columns]

In [4]:
test

      index  age  workclass  ...   race     sex  native-country
0      3873   17  Local-gov  ...  White    Male   United-States
1      3625   23    Private  ...  White    Male   United-States
2      3028   19    Private  ...  White  Female   United-States
3     13814   30  State-gov  ...  Black  Female   United-States
4     15398   60    Private  ...  White    Male   United-States
...     ...  ...        ...  ...    ...     ...             ...
5095   6726   19    Private  ...  White  Female   United-States
5096   1501   23    Private  ...  White    Male   United-States
5097   6391   36    Private  ...  White    Male   United-States
5098   7104   33    Private  ...  White    Male   United-States
5099   4214   36  Local-gov  ...  White    Male   United-States

[5100 rows x 12 columns]

In [5]:
submission

       3873  0
0      3625  0
1      3028  0
2     13814  0
3     15398  0
4     13244  0
...     ... ..
5094   6726  0
5095   1501  0
5096   6391  0
5097   7104  0
5098   4214  0

[5099 rows x 2 columns]

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11900 entries, 0 to 11899
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           11900 non-null  int64
 1   age             11900 non-null  int64
 2   workclass       11900 non-null  object
 3   fnlwgt          11900 non-null  int64
 4   education       11900 non-null  object
 5   education-num   11900 non-null  int64
 6   marital-status  11900 non-null  object
 7   occupation      11900 non-null  object
 8   relationship    11900 non-null  object
 9   race            11900 non-null  object
 10  sex             11900 non-null  object
 11  native-country  11900 non-null  object
 12  Y               11900 non-null  int64
dtypes: int64(5), object(8)
memory usage: 1.2+ MB

In [7]:
all_data = pd.concat((train.loc[:,'age':'native-country'],
                      test.loc[:,'age':'native-country']))

print(all_data.shape)
print(all_data)

(17000, 11)
      age  workclass  fnlwgt  ...   race     sex native-country
0      21    Private  132652  ...  White  Female  United-States
1      29    Private  132652  ...  White  Female  United-States
2      19    Private  132652  ...  White  Female  United-States
3      17    Private  132652  ...  White    Male  United-States
4      47    Private  132652  ...  White    Male  United-States
...   ...        ...     ...  ...    ...     ...            ...
5095   19    Private  132652  ...  White  Female  United-States
5096   23    Private  132652  ...  White    Male  United-States
5097   36    Private  132652  ...  White    Male  United-States
5098   33    Private  132652  ...  White    Male  United-States
5099   36  Local-gov  132652  ...  White    Male  United-States

[17000 rows x 11 columns]

In [8]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.0.0)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
all_data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'native-country'],
      dtype='object')

In [11]:
categories = all_data.columns[all_data.dtypes == 'object']
categories

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country'],
      dtype='object')

In [12]:
le = LabelEncoder()

for cat in categories:
  le = LabelEncoder()
  print(cat)
  if all_data[cat].dtypes == "object":
    le = le.fit(all_data[cat])
    all_data[cat] = le.transform(all_data[cat])

workclass
education
marital-status
occupation
relationship
race
sex
native-country

In [13]:
all_data.head()

   age  workclass  fnlwgt  education  ...  relationship  race  sex  native-country
0   21          3  132652         13  ...             3     2    0               2
1   29          3  132652         10  ...             1     2    0               2
2   19          3  132652          9  ...             1     2    0               2
3   17          3  132652         10  ...             3     2    1               2
4   47          3  132652         13  ...             0     2    1               2

[5 rows x 11 columns]

In [14]:
train.shape[0]

11900

In [15]:
all_data[:train.shape[0]]

       age  workclass  fnlwgt  ...  race  sex  native-country
0       21          3  132652  ...     2    0               2
1       29          3  132652  ...     2    0               2
2       19          3  132652  ...     2    0               2
3       17          3  132652  ...     2    1               2
4       47          3  132652  ...     2    1               2
...    ...        ...     ...  ...   ...  ...             ...
11895   23          3  132652  ...     2    0               2
11896   31          3  132652  ...     1    0               2
11897   21          3  132652  ...     2    1               2
11898   29          3  132652  ...     2    1               2
11899   17          3  132652  ...     2    1               2

[11900 rows x 11 columns]

In [16]:
all_data[train.shape[0]:]

      age  workclass  fnlwgt  ...  race  sex  native-country
0      17          2  132652  ...     2    1               2
1      23          3  132652  ...     2    1               2
2      19          3  132652  ...     2    0               2
3      30          6  132652  ...     1    0               2
4      60          3  132652  ...     2    1               2
...   ...        ...     ...  ...   ...  ...             ...
5095   19          3  132652  ...     2    0               2
5096   23          3  132652  ...     2    1               2
5097   36          3  132652  ...     2    1               2
5098   33          3  132652  ...     2    1               2
5099   36          2  132652  ...     2    1               2

[5100 rows x 11 columns]

In [17]:
train.Y

0        0
1        0
2        0
3        0
4        0
        ..
11895    0
11896    0
11897    0
11898    0
11899    1
Name: Y, Length: 11900, dtype: int64

In [18]:
train_X = all_data[:train.shape[0]]
test_X = all_data[train.shape[0]:]
train_Y= train.Y

In [19]:
import xgboost as xgb

In [20]:
import lightgbm as lgb

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.6/dist-packages (2.5.0)
Requirement already satisfied: alembic in /usr/local/lib/python3.6/dist-packages (from optuna) (1.5.4)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.3.23)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from optuna) (4.41.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from optuna) (1.0.0)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from optuna) (1.19.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (20.9)
Requirement already satisfied: cliff in /usr/local/lib/python3.6/dist-packages (from optuna) (3.6.0)
Requirement already satisfied: cmaes>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (0.8.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.6/dist-packages (from optuna) (4.7.2)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.0.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (2.8.1)
Requirement already satisfied: Mako in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.1.4)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=20.0->optuna) (2.4.7)
Requirement already satisfied: PyYAML>=3.12 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.13)
Requirement already satisfied: cmd2!=0.8.3,>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (1.5.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (5.5.1)
Requirement already satisfied: PrettyTable<0.8,>=0.7.2 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (0.7.2)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->alembic->optuna) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from Mako->alembic->optuna) (1.1.1)
Requirement already satisfied: importlib-metadata>=1.6.0; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (3.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (20.3.0)
Requirement already satisfied: colorama>=0.3.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.4.4)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (1.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.6.0; python_version < "3.8"->cmd2!=0.8.3,>=0.8.0->cliff->optuna) (3.4.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.6.0; python_version < "3.8"->cmd2!=0.8.3,>=0.8.0->cliff->optuna) (3.7.4.3)

In [24]:
import optuna

In [25]:
categories

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country'],
      dtype='object')

In [26]:
for col in categories:
  train_X[col] = train_X[col].astype("int8")
  test_X[col]  = test_X[col].astype("int8")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
# X_train, X_valid, y_train, y_valid = train_test_split(train_X, train_Y, test_size=0.2,random_state=1234,shuffle=False, stratify=None)

In [28]:
folds = 5
kf = KFold(n_splits=folds)

In [29]:
# categories = ['workclass', 'education', 'marital-status', 'occupation',
      #  'relationship', 'race', 'sex', 'native-country']

In [30]:
# def objective(trial):
#   xgb_params = {
#     "learning_rate":0.05,
#     "seed":1234,
#     "max_depth":trial.suggest_int("max_depth",3,16),
#     "colsample_bytree":trial.suggest_uniform("colsample_bytree",0.2,0.9),
#     "sublsample":trial.suggest_uniform("sublsample", 0.2,0.9),
#     }

#   xgb_train = xgb.DMatrix(X_train,  label=y_train)
#   xgb_eval = xgb.DMatrix(X_valid,  label=y_valid)
#   evals = [(xgb_train, "train"), (xgb_eval, "eval")]

#   model_xgb = xgb.train(xgb_params, xgb_train,
#                         evals=evals,
#                         num_boost_round=1000,
#                         early_stopping_rounds=50,
#                         verbose_eval=10,)

#   y_pred = model_xgb.predict(xgb_eval)
#   score = accuracy_score(y_valid, np.round(y_pred))
#   return score

In [31]:
# study = optuna.create_study(sampler=optuna.samplers.RandomSampler(seed=0))
# study.optimize(objective, n_trials=50)
# study.best_params

In [32]:
# lgbm_params = {
#      "objective":"regression",
#      "rondom_seed":1234,
#       "max_bin":71,
#       "num_leaves":54,
#       "min_data_in_leaf":6,
#       "random_seed":1234,
#       "learning_rate":0.05,
#       "n_estimators":1000,
#       "bagging_fraction":0.5487673032722362,
#       "bagging_freq":9,
#       "feature_fraction":0.8818313802505147,
#       "min_sum_hessian_in_leaf":2,
#       }

In [33]:
xgb_params = {
    "learning_rate":0.05,
    "seed":1234,
    "max_depth":7,
    "colsample_bytree":0.6244752498895471,
    "sublsample":0.21343523881653348,
    }

In [34]:
models_xgb = [ ]
rmses_xgb = [ ]
oof_xgb = np.zeros(len(train_X))

for train_index, val_index in kf.split(train_X):
  X_train = train_X.iloc[train_index]
  X_valid = train_X.iloc[val_index]
  y_train = train_Y.iloc[train_index]
  y_valid = train_Y.iloc[val_index]

  xgb_train = xgb.DMatrix(X_train, label=y_train)
  xgb_eval = xgb.DMatrix(X_valid, label=y_valid)
  evals = [(xgb_train, "train"), (xgb_eval, "eval")]

  model_xgb = xgb.train(xgb_params,
                        xgb_train,
                        evals=evals,
                        num_boost_round=1000,
                        early_stopping_rounds=50,
                        verbose_eval=20,)

  y_pred = model_xgb.predict(xgb_eval)
  print(accuracy_score(y_valid, np.round(y_pred)))

  models_xgb.append(model_xgb)
  oof_xgb[val_index] = y_pred

[0]	train-rmse:0.487204	eval-rmse:0.487365
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 50 rounds.
[20]	train-rmse:0.35562	eval-rmse:0.36114
[40]	train-rmse:0.32472	eval-rmse:0.336033
[60]	train-rmse:0.314922	eval-rmse:0.330867
[80]	train-rmse:0.309387	eval-rmse:0.330231
[100]	train-rmse:0.305803	eval-rmse:0.330232
[120]	train-rmse:0.303232	eval-rmse:0.330377
[140]	train-rmse:0.301243	eval-rmse:0.330465
Stopping. Best iteration:
[91]	train-rmse:0.307187	eval-rmse:0.330152

0.8466386554621849
[0]	train-rmse:0.487069	eval-rmse:0.487686
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 50 rounds.
[20]	train-rmse:0.353956	eval-rmse:0.366561
[40]	train-rmse:0.322697	eval-rmse:0.343685
[60]	train-rmse:0.312845	eval-rmse:0.339718
[80]	train-rmse:0.307328	eval-rmse:0.339551
[100]	train-rmse:0.304069	eval-rmse:0.340036
[120]	train-rmse:0.301688	eval-rmse:0.340347
Stopping. Best iteration:
[78]	train-rmse:0.307753	eval-rmse:0.339545

0.8298319327731093
[0]	train-rmse:0.487068	eval-rmse:0.487455
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 50 rounds.
[20]	train-rmse:0.356318	eval-rmse:0.361025
[40]	train-rmse:0.325574	eval-rmse:0.335415
[60]	train-rmse:0.315422	eval-rmse:0.330216
[80]	train-rmse:0.310124	eval-rmse:0.329479
[100]	train-rmse:0.306722	eval-rmse:0.329836
[120]	train-rmse:0.304467	eval-rmse:0.330226
Stopping. Best iteration:
[83]	train-rmse:0.309623	eval-rmse:0.329445

0.8457983193277311
[0]	train-rmse:0.486982	eval-rmse:0.487288
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 50 rounds.
[20]	train-rmse:0.354166	eval-rmse:0.365196
[40]	train-rmse:0.323121	eval-rmse:0.342032
[60]	train-rmse:0.312949	eval-rmse:0.338147
[80]	train-rmse:0.307453	eval-rmse:0.337523
[100]	train-rmse:0.304368	eval-rmse:0.338081
[120]	train-rmse:0.301976	eval-rmse:0.338613
Stopping. Best iteration:
[80]	train-rmse:0.307453	eval-rmse:0.337523

0.834873949579832
[0]	train-rmse:0.487179	eval-rmse:0.487277
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 50 rounds.
[20]	train-rmse:0.356361	eval-rmse:0.358784
[40]	train-rmse:0.325802	eval-rmse:0.333003
[60]	train-rmse:0.315992	eval-rmse:0.328006
[80]	train-rmse:0.310592	eval-rmse:0.327706
[100]	train-rmse:0.307199	eval-rmse:0.328092
Stopping. Best iteration:
[68]	train-rmse:0.31313	eval-rmse:0.327593

0.846218487394958

In [35]:
models_xgb

[<xgboost.core.Booster at 0x7f84d599f128>,
 <xgboost.core.Booster at 0x7f84d59a0e48>,
 <xgboost.core.Booster at 0x7f84d59a0e80>,
 <xgboost.core.Booster at 0x7f84d59a0da0>,
 <xgboost.core.Booster at 0x7f84d59a0f60>]

In [36]:
xgb_test = xgb.DMatrix(test_X)

In [37]:
xgb_test

In [38]:
preds_xgb = [ ]
for model in models_xgb:
  pred = model.predict(xgb_test)
  preds_xgb.append(pred)

In [39]:
preds_array_xgb = np.array(preds_xgb)
preds_mean_xgb = np.mean(preds_array_xgb, axis=0)

In [40]:
preds_mean_xgb

array([ 0.7191309 ,  0.34906632, -0.00553032, ...,  0.30858457,
        0.07022072,  0.7023892 ], dtype=float32)

In [41]:
preds_int = (preds_mean_xgb > 0.5).astype(int)

In [42]:
preds_int

array([1, 0, 0, ..., 0, 0, 1])

In [43]:
submission

       3873  0
0      3625  0
1      3028  0
2     13814  0
3     15398  0
4     13244  0
...     ... ..
5094   6726  0
5095   1501  0
5096   6391  0
5097   7104  0
5098   4214  0

[5099 rows x 2 columns]

In [44]:
test["index"]

0        3873
1        3625
2        3028
3       13814
4       15398
        ...
5095     6726
5096     1501
5097     6391
5098     7104
5099     4214
Name: index, Length: 5100, dtype: int64

In [45]:
soution=pd.DataFrame(preds_int, columns = ["submission"])

In [46]:
solution = pd.DataFrame({"index":test["index"], "Y":preds_int})

In [47]:
solution

      index  Y
0      3873  1
1      3625  0
2      3028  0
3     13814  0
4     15398  1
...     ... ..
5095   6726  0
5096   1501  0
5097   6391  0
5098   7104  0
5099   4214  1

[5100 rows x 2 columns]

In [48]:
solution["Y"].value_counts()

0    3914
1    1186
Name: Y, dtype: int64

In [49]:
solution.to_csv('./submit3.csv', index=False,header=False)